doctype html
html(lang="en")
  head
    title= pageTitle
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
    script(type='text/javascript').
      var foo = true;
      if (foo) {
         console.log('jade working');
      }
  body(ng-controller="mainCtl")
    h1 Jade - node template enginesz
    #container.col
      p Angular is working: {{1 + 1 === 2}}</p>
      p Jquery is working: {{JQ ? true : false}}</p>
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.    
