<div id="schedule-directive">

  <div class="container">
    <div class="row" ng-repeat="item in menuImagesAndDescriptions track by $index">
      <div class="col-md-6 col-xs-12">
        <img id="schedule-{{$index}}" src="{{item.image}}"/>
      </div>
      <div class="col-md-6 col-xs-12 schedule-description">
        <h2>{{item.title}}</h2>
        <h4>
          {{item.description}}
          <ul ng-if="item.cocktail">
            <li>&nbsp;</li>
            <li>&ndash;&nbsp;{{ item.cocktail }}&nbsp;&ndash;</li>
            <li>&ndash;&nbsp;&nbsp;{{ item.dinner }}&nbsp;&nbsp;&ndash;</li>
            <li>&ndash;&nbsp;&nbsp;{{ item.party }}&nbsp;&nbsp;&ndash;</li>
            <li>&ndash;&nbsp;&nbsp;{{ item.afterparty }}&nbsp;&nbsp;&ndash;</li>
          </ul>
        </h4>
        <shinshin-dir ng-if="$index === 2" />
      </div>
      <h3>&nbsp;</h3>
      <hr>
    </div>
    <!-- END REPEATER -->
  </div>
  <!-- END CONTAINER -->
</div>
<!-- END DIRECTIVE -->
